#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product-details-img {
  max-height: 15em;
}

.product-details-img-cart {
  max-height: 10em;
}

.profile_image, .add-product-image {
  max-height: 15em;
  max-width: 100%;
  object-fit: contain;
}

.alert {
  margin: 7rem 2rem;
}

.edit-buttons {
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .alert {
    margin: 5rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .edit-buttons {
    justify-content: center;
  }
}